@import "tailwindcss";

body {
  color: #222;
  background: #fff;
}

.container {
  width: min(64rem, 95%);
  margin-inline: auto;
}

.fake-dark-mode {
  filter: invert(100%);
  transition: all 0.5s;
}

.fake-dark-mode img {
  filter: invert(100%);
}
